@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONTS */

@font-face {
  font-family: 'heading-pro-wide-trial';
  src: url('./assets/fonts/Heading-Pro-Wide-Bold-trial.ttf');
}
@font-face {
  font-family: 'heading-pro-wide-trial-italic';
  src: url('./assets/fonts/Heading-Pro-Wide-Bold-Italic-trial.ttf');
}

.font-heading {
  font-family: 'heading-pro-wide-trial', sans-serif;
}
.font-heading.font-italic {
  font-family: 'heading-pro-wide-trial-italic', sans-serif;
}
.font-noto {
  font-family: 'Noto Sans', sans-serif;
}

/* UTILITY CLASSES */
.bg-gradient-black {
  background: linear-gradient(90deg, rgba(0,0,0,0.32), rgba(0,0,0,0.17));
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-scrollbar-width: none;
  -moz-scrollbar-width: none;
  -ms-scrollbar-width: none;
  -o-scrollbar-width: none;
  -ms-overflow-style: none;
}